<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⭐️</text></svg>">
        <script src="https://kit.fontawesome.com/ab92f4eed4.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
              <link rel="stylesheet" href="../styles/home.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
              <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}
    </head>


    <nav class="fixed top-0 left-0 z-20 w-full border-b border-gray-200 bg-white py-2.5 px-6 sm:px-4">
  <div class="container mx-auto flex max-w-6xl flex-wrap items-center justify-between">
    <a href="{{ path('app_home')}}" class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-3 h-6 text-blue-500 sm:h-9">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
      </svg>

      <span class="self-center whitespace-nowrap text-xl font-semibold">EspriJeu</span>
    </a>
    <div class="mt-2 sm:mt-0 sm:flex md:order-2">
        {# {% if app.user %} #}
              <a href="{{ path('app_register')}}"><button type="button" class="rounde mr-3 hidden border border-blue-700 py-1.5 px-6 text-center text-sm font-medium text-blue-700 focus:outline-none focus:ring-4 focus:ring-blsue-300 md:inline-block rounded-lg">S'inscrire</button></a>
        {# {% else %} #}
              <a href="{{ path('app_login')}}"> <button type="button" class="rounde mr-3 hidden bg-blue-700 py-1.5 px-6 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 md:mr-0 md:inline-block rounded-lg">Se connecter</button></a>
        {# {% endif %} #}
      <!-- Login Button -->
      
     
      <!-- Register Button -->
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    <div class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto" id="navbar-sticky">
      <ul class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:text-sm md:font-medium">
        <li>
          <a href="{{ path('app_home')}}" class="block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700" aria-current="page">Accueil</a>
        </li>
        <li>
          <a href="{{ path('app_game')}}" class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700">Boutique</a>
        </li>
        <li>
          <a href="#" class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700">Mon compte</a>
        </li>
        <li>
          <a href="#" class="block rounded py-2 pl-3 pr-4 text-gray-700 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    
        {% block body %}
        {% endblock %}
        <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js'></script>
    </body>
</html>










{# <body>
	<div x-data="{show : false}" class="flex flex h-screen absolute">

    <nav @mouseover="show = true" @mouseout="show = false" class="flex flex-col h-full justify-between space-y-4 px-2 py-6 bg-gray-800 text-gray-100 lg:fixed z-50 text-sm" style="position:fixed">
    <div class="flex justify-center items-center font-bold space-x-2" :class="{'bg-blue-100 text-blue-500 px-1 py-0.5 rounded': show}">
      <a href="{{ path('app_game')}}"><i class="fa fa-bullseye text-blue-500"></i>
      <span x-show="show">ESPRIT JEU</span></a>
    </div>
    <div class="flex flex-1 flex-col space-y-2" :class="{'items-center' : !show}">
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-home"></i>
        <span x-show="show">Dashboard</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-laptop"></i>
        <span x-show="show">Actualités</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-table"></i>
        <span x-show="show">Par âge</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-list"></i>
        <span x-show="show">Par thème</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-folder-open"></i>
        <span x-show="show">Favoris</span>
      </span>
      {# <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-font"></i>
        <span x-show="show">Quotes</span>
      </span> #}

      {# <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-map"></i>
        <span x-show="show">Maps</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-map-marker"></i>
        <span x-show="show">Locations</span>
      </span> #}
      {# <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-info"></i>
        <span x-show="show">Conseils</span>
      </span>
    </div>

    <div class="flex flex-col space-y-2" :class="{'items-center' : !show}">
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-user"></i>
        <span x-show="show">Profil</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        <i class="fa fa-cog"></i>
        <span x-show="show">Paramètres</span>
      </span>
      <span class="space-x-2 px-2 py-1 rounded hover:bg-blue-500 hover:text-blue-100 cursor-pointer">
        {% if app.user %}
              <a href="{{ path('app_logout')}}"><i class="fa fa-power-off"></i><span x-show="show"> Me déconnecter</span></a>
        {% else %}
              <a href="{{ path('app_login')}}"><i class="fa fa-power-off"></i><span x-show="show"> Me connecter</span></a>
        {% endif %}
      </span>
    </div>

  </nav> #}

  {# <main class="flex flex-1 flex-shrink-0 px-2 justify-center items-center text-gray-500 bg-gray-50 space-y-2">
    <pre class="p-4 bg-black text-gray-100 rounded">

</pre>
  </main> #}

{# </div>  #}
